

.title {
  padding: 20px;
  background-color: #550106;
  color: white;
}

.body {
  height: 350px;
  background-color: #EA261B;
  color: white;
  border-bottom: 40px;
}
.body2 {
  height: 225px;
  margin-top: 64px;
  margin-bottom: 32px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #550106;
}
.body3 {
  height: 225px;
  margin-top: 64px;
  margin-bottom: 32px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #550106;
}
.body4 {
  height: 225px;
  margin-top: 64px;
  margin-bottom: 32px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #550106;
}
.body5 {
  height: 225px;
  margin-top: 64px;
  margin-bottom: 32px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #550106;
}
.body6 {
  background-color: black;
  height: 917px;
}
.body7 {
  background-color: #A10A10;
  padding-top: 140px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 70px;
}
.body71 {
  background-color: #D87F7E;
  height: 412px;
}
.body8 {
  background-color: #230001;
  padding: 204px;
}
.body9 {
  padding: 20px;
  background-color: #2E3E4F;
  color: white;
  font-family: sans-serif;
  font-size: 24px;
}
.body10 {
  background-color: #288ED3;
  padding-top: 100px;
  padding-right: 157px;
  padding-left: 157px;
  padding-bottom: 13px;
}


/* page 2 */

.b11 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 157px;
  padding-right: 157px;
  border: 5px solid white;
  color: white;
  text-align: center;
  font-size: 48px;
  font-family: sans-serif;
}

.b12 {
  background-color: #BFE0F6;
  padding: 30px;
  margin: 20px;
}
.b13 {
  padding: 20px;
  background-color: white;
  margin: 20px;
}
.body11 {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
}
.body12 {
  background-color: #35495D;
  padding: 20px;
}
.body13 {
  height: 225px;
  margin-top: 64px;
  margin-bottom: 32px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #288ED3;
}
.body14 {
  height: 225px;
  margin-top: 64px;
  margin-bottom: 32px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #288ED3;
}
.body15 {
  height: 225px;
  margin-top: 64px;
  margin-bottom: 32px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #288ED3;
}
.body16 {
  height: 225px;
  margin-top: 64px;
  margin-bottom: 32px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #288ED3;
}
.body17 {
  background-color: #35495D;
  padding-top: 140px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 70px;
}
.body171 {
  background-color: #909DAA;
  height: 412px;
}
.body18 {
  background-color: white;
  padding: 20px;
}
.body19{
  background-color: #35495D;
  padding: 20px;
}
.body20 {
  background-color: white;
  padding-top: 140px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 70px;
}
.body201 {
  background-color: #909DAA;
  height: 412px;
  margin-bottom: 32px;
}
.body202{
  padding: 10px;
  background-color: #35495D;
  margin-bottom: 32px;
}
.body203{
  background-color: #909DAA;
  height: 200px;
  margin-bottom: 32px;
}
.body204{
  padding: 10px;
  background-color: #35495D;
  margin-bottom: 32px;
}
.body205{
  background-color: #909DAA;
  height: 200px;
  margin-bottom: 32px;
}
.body206{
    background-color: black;
    padding: 10px;
}
.body207{
  background-color: #7F8C8D;
  height: 150px;
}
